.balance {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.balance .balance-left h1{
    font-size: 40px;
}

.balance .balance-right {
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    background-color: rgba(40, 40, 40, 0.6);
}

#income, #expense {
    padding: 24px;
}


.balance .balance-right span{
    font-size: 24px;
    display: block;
    color: black;
    border-radius: 0 !important;
    font-family: 'Monument';
}

.balance .balance-right label {
    text-transform: uppercase;
    font-size: 12px;
}

#income span{
    color: rgb(0, 255, 0);
}

#expense span {
    color: red;
}


