.header {
    height: 80px;
    width: 100%;
    background-color: rgba(40, 40, 40, 0.6);
    color: white;
    padding: 0px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
